<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration> 
    <!-- 전역 설정 -->
    <settings> 
    		<!-- DB 컬럼명 → camelCase 자동 매핑 -->
        <setting name="mapUnderscoreToCamelCase" value="true"/> 
    		<!-- 캐시사용여부 -->
        <setting name="cacheEnabled" value="false"/> 
    		<!-- fetch size -->
        <setting name="defaultFetchSize" value="100"/> 
    		<!-- timeout -->
        <setting name="defaultStatementTimeout" value="30"/>
    </settings>
    
 	<!--<typeAliases>
 		<typeAlias alias="DeptUser"  type="com.thejoa703.domain.DeptUser" />
 	</typeAliases>-->
</configuration>



